<div class="container mt-2">
  <span class="bg-success rounded-top text-center p-2 align-middle text-light" style="width: 150px;"><b>Carrier Information</b></span>
  <div class="card shadow-lg border-success rounded-0" style="width:760px">

    <div class="card-body ">
      <span><b> #4L56940</b></span>
      <hr>
      <div class="card-body_content d-flex gap-5">
      <div class="loadInfo-1">
    <ul>
      <li>Carrier Company : {{carrier}}</li>
      <li>Carrier company location : {{address}}</li>
      <li>Person in charge : {{person}}</li>
      <li>Person in charge phone number : {{phone}}</li>
      <li>Person in charge email address : {{email}}</li>
      <li>Schedule open windown : {{scheduleWork}}</li>




    </ul>
  </div>
  </div>
  </div>
  </div>

