<div class="container mt-5">
<span class="bg-success rounded-top text-center p-2 align-middle text-light" style="width: 150px;"><b>Load Information</b></span>
<div class="card shadow-lg border-success rounded-0" style="width:760px">

  <div class="card-body ">
    <span><b> #4L56940</b></span>
    <hr>
    <div class="card-body_content d-flex gap-5">
    <div class="loadInfo-1">
  <ul>
    <li>Commodity : {{commodity}}</li>
    <li>Weight : {{weight}}</li>
    <li>Truck number : {{truck}}</li>
    <li>Pallets : {{pallets}}</li>
    <li>Stops : {{stops}}</li>
    <div class="driver-info d-flex gap-1">
    <li>Driver : {{driverName}}</li>
    <button>&#9660;</button>
  </div>
  <div class="fm-info d-flex gap-1">
    <li>Fleet Manager : {{fleetName}}</li>
    <button>&#9660;</button>
  </div>
  <div class="cr-info d-flex gap-1">
    <li>Customer Representative : {{cName}}</li>
    <button>&#9660;</button>
  </div>
  <div class="broker-info d-flex gap-1">
    <li>Broker : {{brokerName}}</li>
    <button>&#9660;</button>
  </div>

  </ul>
</div>
<div class="loadInfo-2">
  <h6>Part Number 2</h6>
</div>
<div class="loadInfo-3">
  <div class="squares-section d-flex gap-2">
    <div class="ls-square_section d-block">
    <div class="ls-square_text"><b>LS</b></div>
    <div class="ls-square bg-danger" style="width: 17px; height: 17px;"></div>
  </div>
  <div class="ps-square-section">
    <div class="ps-square_text"><b>PS</b></div>
    <div class="ps-square bg-success" style="width: 17px; height: 17px;"></div>
  </div>
  <div class="ds-square-section">
    <div class="ds-square_text"><b>DS</b></div>
    <div class="ds-square bg-primary" style="width: 17px; height: 17px;"></div>
  </div>
  </div>
</div>
  </div>
</div>
</div>
</div>
